# Astro Frontend Environment Variables
PUBLIC_API_URL=http://localhost:8787/api/v1

# Cloudflare Worker Backend Environment Variables / Secrets
PUBLIC_BEEHIIV_PUBLICATION_ID=pub_bc10f598-8f5e-4fb8-be1b-71fa0959701b
BEEHIIV_API_KEY=key_xxxxxxxxxxxxxxxxxxxxxxxxxxxx
GITHUB_TOKEN=ghp_xxxxxxxxxxxxxxxxxxxxxxxxxxxx
